@model HeThongQuanLyDuLich.Areas.Client.Models.ThongTinDatVe

@{
    ViewBag.Title = "Dat Tour";
    Layout = "~/Areas/Client/Views/Shared/_TheSecondLayout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Areas/Client/Assets/css/DatTourComponentStyle.css" rel="stylesheet" />

</head>
<body>
    <div class="bodySection" style="background-color: white">
        <div class="container mt-3">
            <div class="row">
                <div class="col col-12 col-md-6 col-lg-7 s_gutters">
                    <div class="formHienThiThongTinTour">
                        <img src="/DoSomeThing/RetrieveImage/@Model.Tour.HinhAnhs.FirstOrDefault().IDHinhAnh" style="width: 100%; height: 300px; border-top-left-radius: 10px; border-top-right-radius: 10px" alt="Alternate Text" />
                        <div class="wrapTourInfo">
                            <div class="wrapTourInfo-title">
                                <h3>@Html.DisplayFor(model => model.Tour.tourName)</h3>
                                <img src="~/Areas/Client/Assets/img/start.png" alt="Alternate Text" />
                            </div>
                            <div class="wrapTourInfo-content">
                                <h3>Dịch vụ</h3>
                                <ul>
                                    @foreach (var x in Model.Tour.DichVus)
                                    {
                                        <li>
                                            <img style="width: 1.5rem; height: 1.5rem" src="~/Areas/Client/Assets/img/check-mark.png" alt="Alternate Text" />
                                            <span>@x.tenDichVu</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="formHienThiThongTinTour">
                        <div class="wrapTourInfo">
                            <div class="wrapTourInfo-title" style="justify-content: space-between; display: flex">
                                <h3 style="display: inline">Giá tham khảo</h3>
                                @{
                                    int tienDichVu = 0;
                                    foreach (var item in Model.Tour.DichVus)
                                    {
                                        tienDichVu += int.Parse(item.giaDichVu.ToString());
                                    }
                                    var tongTien = Model.Tour.gia + tienDichVu + Model.Tour.KhachSan.giaKhachSan - Model.Tour.KhuyenMai.giaTriKhuyenMai;
                                }
                                <h3 id="temp" style="display: inline; color: #f26135">@tongTien VND/Người</h3>

                            </div>
                            <div class="wrapTourInfo-content">
                                <p>Đã áp dụng khuyến mãi</p>
                                <p>Đã bao gồm thuế + phí + khách sạn</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-5 s_gutters">
                    <div class="formThongTinDatVe">
                        <div class="card-body">
                            @using (Html.BeginForm("PostSoLuongVeDatTour", "DatTour", FormMethod.Post))
                            {

                            <table>
                                <tr>
                                    <td colspan="2" class="title" style="font-weight: 700; color: #f26135">THÔNG TIN ĐẶT VÉ</td>
                                </tr>
                                <tr>
                                    <td colspan="2">(Vui lòng điền đầy đủ thông tin) <hr /></td>
                                </tr>
                                <tr class="textInput">
                                    <td>@Html.Label("Số Lượng Khách:")</td>
                                    <td>@Html.TextBoxFor(model => model.SoLuongKhach, new { @id = "soLuong", @onchange = "onChangeEvent();" })</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @Html.ValidationMessage("VuotQuaSoLuongKhach", new { @class = "text-danger validateString" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.TextBoxFor(model => model.Tour.IDTour, new { @class = "hidden" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div style="display: flex; justify-content: flex-end">
                                            <input class="button-custom" type="submit" value="Đặt Vé" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>