@model IEnumerable<HeThongQuanLyDuLich.Models.KhuyenMai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách khuyến mãi</h2>
<button class="btn btn-danger my-button">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "my-class" })
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenKhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dieuKienKhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoiGian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaTriKhuyenMai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenKhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dieuKienKhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thoiGian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaTriKhuyenMai)
        </td>
        <td>
            <button class="btn btn-info my-button">
                @Html.ActionLink("Chi tiết", "Details", new { id = item.IDKhuyenMai }, new { @class = "my-class" })
            </button>
        </td>
    </tr>
}

</table>
