@model HeThongQuanLyDuLich.Models.DichVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết dịch vụ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaDichVu)
        </dd>

    </dl>
</div>
<button class="btn btn-warning my-button">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDDichVu }, new { @class = "my-class" })
</button>
<button class="btn btn-danger my-button">
    @Html.ActionLink("Xóa", "Delete", new { id = Model.IDDichVu }, new { @class = "my-class" })
</button>
<span>
    |
    @Html.ActionLink("Quay về", "Index")
</span>
