@model IEnumerable<HeThongQuanLyDuLich.Models.DichVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách dịch vụ</h2>

<button class="btn btn-danger my-button">
    @Html.ActionLink("Create New", "Create", null, new { @class = "my-class" })
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenDichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaDichVu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenDichVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaDichVu)
        </td>
        <td>
            <button class="btn btn-info my-button">
                @Html.ActionLink("Chi tiết", "Details", new { id = item.IDDichVu }, new { @class = "my-class" })
            </button>
        </td>
    </tr>
}

</table>
