@model HeThongQuanLyDuLich.Models.KhachSan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa hành khách sạn</h2>

<h3>Bạn có chắc chắc muốn xóa ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenKhachSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenKhachSan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moTaKhachSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTaKhachSan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaKhachSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaKhachSan)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về", "Index")
        </div>
    }
</div>
