@model HeThongQuanLyDuLich.Models.KhachSan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết khách sạn</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenKhachSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenKhachSan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moTaKhachSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTaKhachSan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaKhachSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaKhachSan)
        </dd>

    </dl>
</div>
<button class="btn btn-warning my-button">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDKhachSan }, new { @class = "my-class" })
</button>
<button class="btn btn-danger my-button">
    @Html.ActionLink("Xóa", "Delete", new { id = Model.IDKhachSan }, new { @class = "my-class" })
</button>
<span>
    |
    @Html.ActionLink("Quay về", "Index")
</span>
