@model IEnumerable<HeThongQuanLyDuLich.Models.KhachSan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h2>Danh sách khách sạn</h2>

<button class="btn btn-danger my-button">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "my-class" })
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenKhachSan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moTaKhachSan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaKhachSan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenKhachSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moTaKhachSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giaKhachSan)
            </td>
            <td>
                <button class="btn btn-info my-button">
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IDKhachSan }, new { @class = "my-class" })
                </button>
            </td>
        </tr>
    }

</table>
