@model HeThongQuanLyDuLich.Models.VeDatTour

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hủy vé đặt tour</h2>

<h3>Bạn có chắc chắc muốn hủy ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hinhThucThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhThucThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThaiVeDatTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThaiVeDatTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongVeDatTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongVeDatTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayDatVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDatVe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.hoTenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.hoTenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.tourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.tourName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
