@model HeThongQuanLyDuLich.Models.VeDatTour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VeDatTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hinhThucThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhThucThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThaiVeDatTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThaiVeDatTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongVeDatTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongVeDatTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.hoTenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.hoTenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.tourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.tourName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDVeDatTour }) |
    @Html.ActionLink("Back to List", "Index")
</p>
