@model HeThongQuanLyDuLich.Models.VeDatTour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết vé đặt tour</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDVeDatTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVeDatTour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.hoTenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.hoTenKhachHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tour.tourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.tourName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ngayDatVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDatVe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hinhThucThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhThucThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThaiVeDatTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThaiVeDatTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongVeDatTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongVeDatTour)
        </dd>






    </dl>
</div>
<button class="btn btn-warning my-button">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDVeDatTour }, new { @class = "my-class" })
</button>
<button class="btn btn-danger my-button">
    @Html.ActionLink("Xóa", "Delete", new { id = Model.IDVeDatTour }, new { @class = "my-class" })
</button>
<span>
    |
    @Html.ActionLink("Quay về", "Index")
</span>