@model HeThongQuanLyDuLich.Models.HinhAnh

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa hình ảnh</h2>

<h3>Bạn có chắc chắc muốn xóa ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            <img src="/HinhAnh/RetrieveImage/@Model.IDHinhAnh" height=200 width=300 />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.tourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.tourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiHinhAnh.loaiHinhAnh1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiHinhAnh.loaiHinhAnh1)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về", "Index")
        </div>
    }
</div>
