@model HeThongQuanLyDuLich.Models.HinhAnh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết hình ảnh</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            <img src="/HinhAnh/RetrieveImage/@Model.IDHinhAnh" height=200 width=300 />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.tourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.tourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiHinhAnh.loaiHinhAnh1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiHinhAnh.loaiHinhAnh1)
        </dd>

    </dl>
</div>
<button class="btn btn-warning my-button">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDHinhAnh }, new { @class = "my-class" })
</button>
<button class="btn btn-danger my-button">
    @Html.ActionLink("Xóa", "Delete", new { id = Model.IDHinhAnh }, new { @class = "my-class" })
</button>
<span>
    |
    @Html.ActionLink("Quay về", "Index")
</span>
