@using PagedList.Mvc;
@model PagedList.PagedList<HeThongQuanLyDuLich.Models.HinhAnh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách hình ảnh</h2>

<button class="btn btn-danger my-button">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "my-class" })
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().imageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Tour.tourName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                <img src="/HinhAnh/RetrieveImage/@item.IDHinhAnh" height=100 width=200 />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.tourName)
            </td>
            <td>
                <button class="btn btn-info my-button">
                    @Html.ActionLink("Chi tiết ", "Details", new { id = item.IDHinhAnh }, new { @class = "my-class" })
                </button>
            </td>
        </tr>
    }

</table>

<div style="margin-left: 1rem">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>
