@model IEnumerable<HeThongQuanLyDuLich.Models.LoaiHinhAnh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center;">BỘ SƯU TẬP</h2>

<p>
    @Html.ActionLink("Create New Image", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.loaiHinhAnh1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.loaiHinhAnh1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDLoaiHinhAnh }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDLoaiHinhAnh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDLoaiHinhAnh })
        </td>
    </tr>
}

</table>
