@model HeThongQuanLyDuLich.Areas.Client.Models.ViewHomeModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}


<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div class="fh5co-hero">
            <div class="fh5co-overlay"></div>
            @*<div class="fh5co-overlay"></div>*@
            <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image:url(../../../../Content/image/wp2004047-travelling-wallpapers.jpg);">
                <div class="desc animate-box">
                    <h2>Du lịch Việt Nam</h2>
                    <span><a class="btn btn-primary btn-lg" href="#">Đặt Tour</a></span>
                </div>
            </div>
        </div>
        <div class="fh5co-listing">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.LoaiTours)
                    {
                        <div style="border-radius: 10px" class="col-md-4 col-sm-4 fh5co-item-wrap">
                            @*<a href="@Url.Action("Index","DatTour", new { id = item.IDTour})" class="fh5co-listing-item">*@
                            <a href="/client/Home/DanhSachTour/@item.IDLoaiTour" class="fh5co-listing-item">
                                <img src="~/Content/image/mb.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
                                <div class="fh5co-listing-copy">
                                    <h2>@item.loaiTour1</h2>
                                    <span class="icon">
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-12 col-lg-12 s_gutters" style="padding: 0 !important ">
                    <div class="listTourContent">
                        <div>
                            <h3 style=" color: white">Tour miền Bắc nổi bật</h3>
                        </div>
                        @foreach (var item in Model.DsTourMienBac)
                        {
                            <div class="col-md-3 custom-col-md-3" style="padding: 0 !important">
                                <div class="tourItemContainer">
                                    <div class="imgTour">
                                        <a href="/Client/Home/DetailTour/@item.IDTour">
                                            @{
                                                string ngay1 = item.HanhTrinhs.Count() + "N";
                                                string dem1 = (item.HanhTrinhs.Count() - 1) + "Đ";
                                            }
                                            <div class="overlayImg" style="display: flex; align-items: center; justify-content: center">
                                                <span class="moTaTour">
                                                    Xem chi tiết
                                                </span>
                                            </div>
                                            <img class="imageTourItem" src="/Client/DoSomeThing/RetrieveImage/@item.HinhAnhs.FirstOrDefault().IDHinhAnh" alt="Alternate Text" />
                                        </a>

                                        <div class="fromWhere">
                                            <span style="font-size: 1.5rem; color: white">TP Hồ Chí Minh</span>
                                        </div>
                                    </div>


                                    <div class="wrapTourItemTitle">
                                        <span class="tourTitle">Combo du lịch @item.tourName - @item.KhachSan.tenKhachSan</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-12 col-md-12 col-lg-12 s_gutters" style="padding: 0 !important ">
                    <div class="listTourContent">
                        <div>
                            <h3 style=" color: white">Tour miền Trung nổi bật</h3>
                        </div>
                        @foreach (var item in Model.DsTourMienTrung)
                        {
                            <div class="col-md-3 custom-col-md-3" style="padding: 0 !important">
                                <div class="tourItemContainer">
                                    <div class="imgTour">
                                        <a href="/Client/Home/DetailTour/@item.IDTour">
                                            @{
                                                string ngay1 = item.HanhTrinhs.Count() + "N";
                                                string dem1 = (item.HanhTrinhs.Count() - 1) + "Đ";
                                            }
                                            <div class="overlayImg" style="display: flex; align-items: center; justify-content: center">
                                                <span class="moTaTour">
                                                    Xem chi tiết
                                                </span>
                                            </div>
                                            <img class="imageTourItem" src="/Client/DoSomeThing/RetrieveImage/@item.HinhAnhs.FirstOrDefault().IDHinhAnh" alt="Alternate Text" />
                                        </a>

                                        <div class="fromWhere">
                                            <span style="font-size: 1.5rem; color: white">TP Hồ Chí Minh</span>
                                        </div>
                                    </div>


                                    <div class="wrapTourItemTitle">
                                        <span class="tourTitle">Combo du lịch @item.tourName - @item.KhachSan.tenKhachSan</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-12 col-md-12 col-lg-12 s_gutters" style="padding: 0 !important ">
                    <div class="listTourContent">
                        <div>
                            <h3 style=" color: white">Tour miền Nam nổi bật</h3>
                        </div>
                        @foreach (var item in Model.DsTourMienNam)
                        {
                            <div class="col-md-3 custom-col-md-3" style="padding: 0 !important">
                                <div class="tourItemContainer">
                                    <div class="imgTour">
                                        <a href="/Client/Home/DetailTour/@item.IDTour">
                                            @{
                                                string ngay1 = item.HanhTrinhs.Count() + "N";
                                                string dem1 = (item.HanhTrinhs.Count() - 1) + "Đ";
                                            }
                                            <div class="overlayImg" style="display: flex; align-items: center; justify-content: center">
                                                <span class="moTaTour">
                                                    Xem chi tiết
                                                </span>
                                            </div>
                                            <img class="imageTourItem" src="/Client/DoSomeThing/RetrieveImage/@item.HinhAnhs.FirstOrDefault().IDHinhAnh" alt="Alternate Text" />
                                        </a>

                                        <div class="fromWhere">
                                            <span style="font-size: 1.5rem; color: white">TP Hồ Chí Minh</span>
                                        </div>
                                    </div>


                                    <div class="wrapTourItemTitle">
                                        <span class="tourTitle">Combo du lịch @item.tourName - @item.KhachSan.tenKhachSan</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>

        <div class="fh5co-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fh5co-news">
                        <h3 style="color: white">Tin Tức</h3>
                        <ul>
                            <li>
                                <a href="https://www.vntrip.vn/cam-nang/kinh-nghiem-du-lich-phu-quoc-170">
                                    <span class="fh5co-date">15/05/2021</span>
                                    <h3>Du lịch Phú Quốc</h3>
                                    <p>Phú Quốc còn có tên gọi khác là đảo Ngọc hòn đảo lớn nhất nước ta thuộc Vịnh Thái Lan...</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://quynhonme.vn/33-dia-diem-du-lich-quy-nhon-tuyet-dep">
                                    <span class="fh5co-date">01/05/2021</span>
                                    <h3>Quy Nhơn có gì chơi ?</h3>
                                    <p>Vùng đất xinh đẹp Quy Nhơn Bình Định trong những năm gần đây đang dần trở thành điểm đến yêu thích của các bạn trẻ đam mê du lịch. !</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://tuoitre.vn/sang-6-5-them-8-ca-mac-covid-19-tai-benh-vien-benh-nhiet-doi-trung-uong-20210506052705944.htm">
                                    <span class="fh5co-date">17/04/2021</span>
                                    <h3>Cập nhật Covid-19</h3>
                                    <p>Sáng 6-5, thêm 8 ca mắc COVID-19 tại Bệnh viện Bệnh nhiệt đới trung ương..!</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 fh5co-testimonial">
                        <img src="~/Content/image/seaa.jpeg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive mb20">
                        <img src="~/Content/image/vedep.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>



