@model IEnumerable<HeThongQuanLyDuLich.Models.ChiTietDichVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.moTaDichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenChiTietDichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DichVu.tenDichVu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.moTaDichVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenChiTietDichVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DichVu.tenDichVu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDChiTietDichVu }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDChiTietDichVu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDChiTietDichVu })
        </td>
    </tr>
}

</table>
