@using HeThongQuanLyDuLich.Models;

@model HeThongQuanLyDuLich.Areas.Admin.Models.ViewTourModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thêm tour mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tour.tourName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tour.tourName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tour.tourName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tour.tourDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Tour.tourDescription, new { @class = "form-control textAreaStyle", @rows="8" })
                @Html.ValidationMessageFor(model => model.Tour.tourDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tour.soLuongKhachToiDa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tour.soLuongKhachToiDa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tour.soLuongKhachToiDa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tour.soLuongKhachHienTai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tour.soLuongKhachHienTai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tour.soLuongKhachHienTai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tour.tinhTrangTour, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Tour.tinhTrangTour)
                    @Html.ValidationMessageFor(model => model.Tour.tinhTrangTour, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tour.IDKhachSan, "IDKhachSan", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tour.IDKhachSan, new SelectList(ViewBag.IDKhachSan, "IDKhachSan", "tenKhachSan"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tour.IDKhachSan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tour.IDKhuyenMai, "IDKhuyenMai", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tour.IDKhuyenMai, new SelectList(ViewBag.IDKhuyenMai, "IDKhuyenMai", "tenKhuyenMai"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tour.IDKhuyenMai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tour.gia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tour.gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tour.gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tour.IDLoaiTour, "IDLoaiTour", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tour.IDLoaiTour, new SelectList(ViewBag.IDLoaiTour, "IDLoaiTour", "loaiTour1"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tour.IDLoaiTour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Các dịch vụ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div style="display: flex; flex-direction: column">
                @{
                    for (int i = 0; i < Model.dsDichVuDuoChon.Length; i++)
                    {
                        <div style="margin-top: 1rem">
                            @Html.CheckBoxFor(model => model.dsDichVuDuoChon[i])
                            @Html.DisplayFor(model => model.listDichVu.ToArray()[i].tenDichVu)
                        </div>
                        
                    }
                }
            </div>
            
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-success" />
                <button class="btn btn-danger my-button">
                    @Html.ActionLink("Hủy", "Index", null, new { @class = "my-class" })
                </button>
            </div>
        </div>
    </div>
}
