@model HeThongQuanLyDuLich.Models.Tour

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa tour</h2>

<h3>Bạn có chắc chắc muốn xóa ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tourDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tourDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongKhachToiDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongKhachToiDa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongKhachHienTai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongKhachHienTai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhTrangTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhTrangTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachSan.tenKhachSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachSan.tenKhachSan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai.tenKhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai.tenKhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTour.loaiTour1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTour.loaiTour1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về", "Index")
        </div>
    }
</div>
