@model HeThongQuanLyDuLich.Models.Tour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết tour</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tourDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tourDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongKhachToiDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongKhachToiDa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongKhachHienTai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongKhachHienTai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhTrangTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhTrangTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachSan.tenKhachSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachSan.tenKhachSan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai.tenKhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai.tenKhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTour.loaiTour1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTour.loaiTour1)
        </dd>

    </dl>
</div>
<button class="btn btn-success my-button">
    @Html.ActionLink("Danh sách khách hàng", "DanhSachKhachHang", new { id = Model.IDTour }, new { @class = "my-class" })
</button>
<button class="btn btn-warning my-button">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDTour }, new { @class = "my-class" })
</button>
<button class="btn btn-danger my-button">
    @Html.ActionLink("Xóa", "Delete", new { id = Model.IDTour }, new { @class = "my-class" })
</button>
<span>
    |
    @Html.ActionLink("Quay về", "Index")
</span>
