@model HeThongQuanLyDuLich.Models.Tour


@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Areas/Admin/Assets/AdminStyle.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h4>Chi tiết tour</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tourName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tourName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tourDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tourDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soLuongKhachToiDa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soLuongKhachToiDa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soLuongKhachHienTai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soLuongKhachHienTai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tinhTrangTour)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tinhTrangTour)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DichVu.tenDichVu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DichVu.tenDichVu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HanhTrinh.tenHanhTrinh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HanhTrinh.tenHanhTrinh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KhachSan.tenKhachSan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KhachSan.tenKhachSan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KhuyenMai.tenKhuyenMai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KhuyenMai.tenKhuyenMai)
            </dd>
        </dl>
    </div>
    <p>
        <button class="btn btn-primary my-button">
            @Html.ActionLink("Edit", "Edit", new { id = Model.IDTour }, new { @class="my-class"})
        </button> |
        <button class="btn btn-danger my-button">
            @Html.ActionLink("Delete", "Delete", new { id = Model.IDTour }, new { @class = "my-class" })
        </button> |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
