@model IEnumerable<HeThongQuanLyDuLich.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tour</h2>

<button class="btn btn-danger my-button">
    @Html.ActionLink("Create New", "Create", null, new { @class = "my-class" })
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tourDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuongKhachToiDa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuongKhachHienTai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tinhTrangTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HanhTrinh.tenHanhTrinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachSan.tenKhachSan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhuyenMai.tenKhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTour.loaiTour1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DichVu.tenDichVu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tourName)
        </td>
        <td>
            @{ 
                string a = item.tourDescription.Substring(0, 30) + "...";
            }
            @Html.DisplayFor(modelItem => a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongKhachToiDa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongKhachHienTai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tinhTrangTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HanhTrinh.tenHanhTrinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachSan.tenKhachSan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhuyenMai.tenKhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTour.loaiTour1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DichVu.tenDichVu)
        </td>
        <td>
            <button class="btn btn-success my-button">
                @Html.ActionLink("Details", "Details", new { id = item.IDTour }, new { @class="my-class"})
            </button>
        </td>
    </tr>
}

</table>
