@model IEnumerable<HeThongQuanLyDuLich.Models.Tour>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Areas/Admin/Assets/AdminStyle.css" rel="stylesheet" />
</head>

<body>
    <button class="btn btn-danger my-button">
        @Html.ActionLink("Create New Tour", "Create", null, new { @class = "my-class"})
    </button>
    <p>
       
    </p>
    <table class="table">
        <tr>
            <th>

               @Html.Label("Tên Tour")
            </th>
            <th>
                @Html.Label("Mô Tả")
            </th>
            <th>
                @Html.Label("Số Lượng Tối Đa")
            </th>
            <th>
                @Html.Label("Số Lượng Khách Hiện Tại")
            </th>
            <th>
               @Html.Label("Trạng Thái Tour")
            </th>
            <th>
               @Html.Label("Giá Tour")
            </th>
            <th>
              @Html.Label("Dịch Vụ")
            </th>
            <th>
               @Html.Label("Lịch Trình")
            </th>
            <th>
               @Html.Label("Khách Sạn")
            </th>
            <th>
                @Html.Label("Khuyến Mãi")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tourName)
        </td>
        <td>
            @{
                string newStr = item.tourDescription.ToString().Substring(0, 20) + "...";
            }
            @Html.DisplayFor(modelItem => newStr)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongKhachToiDa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongKhachHienTai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tinhTrangTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DichVu.tenDichVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HanhTrinh.tenHanhTrinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachSan.tenKhachSan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhuyenMai.tenKhuyenMai)
        </td>
        <td>
            <button class="btn btn-primary my-button">
                @Html.ActionLink("Details", "Details", new { id = item.IDTour }, new { @class = "my-class" })
            </button>
        </td>
        
    </tr>
        }

    </table>
  

</body>
</html>
