@model HeThongQuanLyDuLich.Models.NhanVien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hoTenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoTenNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdtNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdtNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu.tenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.tenChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDNhanVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
