@model HeThongQuanLyDuLich.Areas.Admin.Models.ViewProfileModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container mt-3" style="display: flex !important; justify-content: center !important; align-items: center !important">
        <div class="row">
            <div class="col col-12 col-md-6 col-lg-4 s_gutters">

                <div class="wrapLeftComponent">
                    @{
                        if (Model.TaiKhoan.avatar != null)
                        {
                            <img src="/DoSomeThing/RetrieveUserImage/@Model.TaiKhoan.IDTaiKhoan" style="object-fit: cover; width: 80%; height: auto; border-radius: 1000px" />
                        }
                        else
                        {

                            <img src="~/Areas/Client/Assets/img/defaultAvatar.jpg" style="object-fit: cover; width: 80%; height: auto; border-radius: 1000px" />
                        }
                    }
                    <hr />
                    <div class="wrapBtn">
                        <a href="/Admin/Profile/ThayDoiThongTin" class="btnEditProfile" >Thay đổi thông tin</a>
                        <a href="#" class="btnEditProfile">Thay đổi mật khẩu</a> 
                    </div>

                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-8 s_gutters">
                <h3 style="font-weight: 700">Thông tin cá nhân</h3>
                <hr />
                <div>
                    @Html.Label("Họ tên: ", new { @class = "labelInfo" })
                    <span class="contentInfo">
                        @Html.DisplayFor(model => model.NhanVien.hoTenNhanVien)
                    </span>
                </div>
                <div>
                    @Html.Label("Số điện thoại: ", new { @class = "labelInfo" })
                    <span class="contentInfo">
                        @Html.DisplayFor(model => model.NhanVien.sdtNhanVien)
                    </span>
                </div>
                <div>
                    @Html.Label("Địa chỉ: ", new { @class = "labelInfo" })
                    <span class="contentInfo">
                        @Html.DisplayFor(model => model.NhanVien.diaChi)
                    </span>
                </div>
                <div>
                    @Html.Label("CMND: ", new { @class = "labelInfo" })
                    <span class="contentInfo">
                        @Html.DisplayFor(model => model.NhanVien.CMND)
                    </span>
                </div>
                <div>
                    @Html.Label("Email: ", new { @class = "labelInfo" })
                    <span class="contentInfo">
                        @Html.DisplayFor(model => model.TaiKhoan.email)
                    </span>
                </div>

            </div>
        </div>

    </div>



